<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <title>Leona Projects</title>

    <link href="https://fonts.googleapis.com/css?family=Sigmar+One|Nova+Mono" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/static_pages.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="jumbotron" id="collage">
      <%= image_tag "LeonaProjects.jpg", class: "img-responsive" %>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false" id="menu-btn">
            <span class="sr-only">Toggle navigation</span>
            <%= image_tag "downarrow.png" %>
          </button>
          
            <%= link_to root_path, id: "brand" do %>
              <%= image_tag "LPLogo.png" %>
            <% end %>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-links">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %><span class="sr-only">(current)</span></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Archive", static_pages_archive_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
          <%= form_tag "/posts", method: "get", class: "navbar-form navbar-right" do %>
            <%= text_field_tag :q, "", class:"form-control", placeholder: "Find Article" %>
            <%= submit_tag "Search", class: "btn btn-default", id: "search-btn" %>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>

    <div>Icons made by <a href="http://www.flaticon.com/authors/appzgear" title="Appzgear">Appzgear</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>





    <footer>
      <div class="col-lg-2 col-md-3 copyright">
      &copy; 2017 Leona Projects
      </div>
    </footer>
  </body>
</html>
